@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* ============ common css ============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    margin-left: 80px;
    margin-right: 80px;
}

.orderbtn {
    width: fit-content;
    padding: 18px;
    background-color: #f36c2d;
    color: white;
    border: 2px solid transparent;
    border-radius: 40px;
    font-weight: 700;
    transition: 0.5s ease all;
}

.orderbtn:hover {
    background-color: #05462d;
}

/* ============= header =============== */
header {
    /* background-color: #00d080; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1111;
}

header .header-p {
    padding: 14px 0px;
}

header .navigation {
    display: flex;
    align-items: center;
}

header .navigation .logo {
    flex: 1;
    padding-top: 10px;
}

header .navigation .logo h1 {
    font-size: 40px;
}

header .navigation .logo span {
    transform: rotate(315deg);
    color: #f36c2d;
    width: 15px;
    height: 68px;
}

header .navigation .navbar {
    flex: 4;
}

header .navigation .navbar ul {
    display: flex;
    justify-content: end;
    gap: 20px;
}

header .navigation .navbar li {
    padding: 10px;
}

header .navigation .navbar a {
    color: black;
    font-weight: 600;
    transition: 0.3s ease all;
}

header .navigation .navbar span {
    font-size: 12px;
}

header .navigation .navbar a.active {
    color: #f36c2d;
}

header .navigation .navbar a:hover {
    color: #f36c2d;
}

header .navigation .theme {
    flex: 0.5;
    display: flex;
    align-items: center;
    font-size: 17px;
    gap: 10px;
}

header .navigation .theme button {
    display: none;
    height: 30px;
    width: 30px;
    background-color: #f36c2d;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
}

/* ================== homepage ================== */
.homepage {
    background-color: #3ee47b;
}

.homepage .homepage-p {
    padding: 100px 0px;
}

.homepage .homepage_banner {
    display: flex;
}

.homepage .homepage_banner .left-banner {
    flex: 1;
    padding: 30px;
}

.homepage .homepage_banner .left-banner h1 {
    font-size: 65px;
}

.homepage .homepage_banner .left-banner h1.title-b {
    font-weight: 100;
}

.homepage .homepage_banner .left-banner p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
}

.homepage .homepage_banner .right-banner {
    flex: 1;
    text-align: center;
}

.homepage .homepage_banner .right-banner img {
    height: auto;
    max-width: 100%;
    animation: image_rotate 10s linear infinite;
}

@keyframes image_rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}